body {
	font-family:Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 13px;
}
div 
{
	vertical-align: top;
}
#left 
{
	white-space: normal;
	border: 1px solid #F2D6D6;
	border-right: 0;
	display: inline-block;
	vertical-align: top;
	min-height: 152px;
	width: 140px;
}
#right 
{
	white-space: normal;
	background-color: #FAFAFA;
	border: 1px solid #DDD;
	vertical-align: top;
	border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 6px 6px 0;
	-webkit-border-radius: 0 6px 6px 0;
	display: inline-block;
	min-height: 156px;
	position: relative;
	width: 400px;
	z-index: 10;

}
#left .wrap 
{
	background-color: #FFEFEF;
}
#right .wrap 
{
	float: left;
	margin-bottom: 0px;
	padding: 2px 0px 6px 6px;
	width: 97%;
}
#left .wrap .images 
{
	font-size: 0;
	line-height: 0;
	padding: 0px;
	text-align: left;
	width: 144px;
}
#right .left, #right .right
{
	display: inline-block;
	font: 300 14px/14px Arial,"Helvetica Neue",Helvetica,sans-serif;
	margin-bottom: 6px;
	width: 50%;
}
#right .row-small .left
{
	margin-left: 5px;
	margin-bottom: 8px;
}
#right .row-small .right
{
	margin-left: -10px;
	margin-bottom: 8px;
}
.row-left-full
{
	margin-top: 2px;
}
.left
{
	text-align: left;
}
.right
{
	text-align: right;
}
.images .cover 
{
	margin-right: 1px;
	vertical-align: top;
}
.images .sample 
{
	vertical-align: top;
}
.images img 
{
	height: 96px;
	width: 70px;
}
.noteDiv
{
	margin-bottom: 5px;
	margin-right: 2px;
	background: #FFEFEF;
	box-shadow: inset 0 0 1px #FF6F6F;
	-moz-border-radius: 0 6px 6px;
	-webkit-border-radius: 0 6px 6px 0;
}
.noteDiv-new
{
	margin-bottom: 5px;
	margin-right: 0px;
	background: #FFEFEF;
	box-shadow: inset 0 0 1px #FF6F6F;
	-moz-border-radius: 0 6px 6px;
	-webkit-border-radius: 0 6px 6px 0;
	border: 1px solid #000000;
}
.content-name {
	width: 96%;
}
#float
{
	position: absolute;
	background-color: #FFFFFF;
	border: 1px solid #000000;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 4 10 4 10;
	z-index: 100000;
	display: none;
}
#hidediv
{
	float: right;
	position: relative;
	right: 10px;
}
.close {
	background: -webkit-linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)), -webkit-radial-gradient(#F2D6D6, #FACCCC);
	border-radius: 50px;
	border: 0px solid #e6e6e6;
	height: 12px;
	width: 12px;
	text-indent: -9999px;
	position: absolute;
	text-decoration: none;
}
.close:hover {
	background: -webkit-linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)), -webkit-radial-gradient(#FF0000, #FF9393);
	cursor: pointer;
}
ul
{
	list-style: none;
	-webkit-margin-before: 0em;
	-webkit-padding-start: 0px;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}
li 
{
	font: 700 14px/27px Arial,"Helvetica Neue",Helvetica,sans-serif;
	height: 28px;
	text-align: center;
	width: 100%;
}
li a
{
	background: none repeat scroll 0 0 #FFEFEF;
	border-top: 1px solid #F2D6D6;
	color: #333;
	float: left;
	height: 28px;
	padding-bottom: 1px;
	text-decoration: none;
	width: 100%;
}
li a:hover
{
	background: none repeat scroll 0 0 #BF5F5F;
	color: #FFF;
	text-decoration: none;
}
h1
{
	color: #9D0A0A;
	font: 700 18px/24px Arial,"Helvetica Neue",Helvetica,sans-serif;
	margin-bottom: 6px;
	text-align: left;
	text-decoration: none;
	-webkit-margin-before: 0em;
}
a 
{
	color: #12C;
	text-decoration: none;
}
a:hover
{
	text-decoration: underline;
}
.english a
{
	color: #009F07;
	font-weight: 700;
}
.japanese a 
{
	color: #9D0A0A;
	font-weight: 700;
}

// Loading Animation

div .loadingtrail, 
div .loadingtrailnotes {
	display: inline-block;
}
.loadingtrail {
	display: inline-block;
	position: relative;
	top: 4px;
	right: 6px;
	width: 18px;
	height: 18px;
}
.loadingtrailnotes {
	display: inline-block;
	width: 18px;
	height: 18px;
}
.loadingtrail:before, .loadingtrailnotes:before {
	display: inline-block;
	width: 16px;
	height: 16px;
	border-top: 2px solid #ccc;
	border-right: 2px solid #333;
	content: "";
	-webkit-animation: spin 1s ease infinite;
	animation: spin 1s ease infinite;
	border-radius: 100%;
}
@-webkit-keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
  }
}
@-ms-keyframes spin {
  100% {
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
  }
}